@model eTickets.Data.ViewModel.CascadingModel

@{
    Layout = null;
}
 

<html>

<body>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.DropDownListFor(m => m.Country_id, Model.Countries, "Please select country", new { onchange = "GetStateList()" })
        <br/>
        <br/>
  
        @Html.DropDownListFor(m => m.StateId, Model.States, "Please select state", new { onchange = "GetStateList()" })
        <br/>
        <br/>
  
        @Html.DropDownListFor(m => m.CityId, Model.Cities, "Please select City", new { onchange = "GetCityList()" })
        <br/>
        <br/>

        
        <input type="submit" value="Submit"/>
    }
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   @* <script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"/></script>*@
    <script type="text/javascript">
$(document).ready(function() {
    $("#Country_id").change(function() {
        $.get("/Home/GetStateList", { Country_id: $("#Country_id").val()}, function (data) {
            $("#StateId").empty()
            $.each(data, function(GetStateList, row) {
              console.log(data)
               $("#StateId").append("<option value='" + row.stateId + "'>" + row.stateName + "</option")
                
            });
            
        });
        GetStateList();
    });
});
$(document).ready(function() {
    $("#StateId").change(function() {
        $.get("/Home/GetCityList", { StateId: $("#StateId").val()}, function (data) {
            $("#CityId").empty()
            $.each(data, function(GetCityList, row) {
              console.log(data)
               $("#CityId").append("<option value='" + row.cityId + "'>" + row.cityName + "</option")
                
            });
            
        });
        GetCityList();
    });
});
 
 
           
          
    </script>  
               
</body>
</html>