@model eTickets.Models.UserLogins
@{
    ViewData["Title"] = "UserLogin";
    
}
 <br>  @ViewBag.ErrorMessage <br/>

 <h1 align="Center">Login Panel</h1>
<div class="container">
    <div class="row mt-lg-5">
        <div class="col-4 offset-4 border border-primary rounded p1-5 pr-5 pb-5">
           
            <form method="post" asp-controller="Movies" asp-action="UserLogin">
                <div class="form-group">
                <label asp-for="User_Name" class="control-label"></label>
                <input asp-for="User_Name" class="form-control" />
                

                <span class="text-danger">@TempData["errorMessage"]</span>
            </div>
               <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                 <span class="text-danger">@TempData["errorPassword"]</span>
            </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-primary mb-2" value="Log In" />
                </div>
            </form>
            <div class="text-center">
                <a class="text-primary" asp-action="ForgotUserName">Forgot User_Name?</a> 
                <a class="text-primary" asp-action="ForgotPassword">Forgot password?</a> 

            </div>
        </div>
    </div>
</div>
